<div class="feed-toggle">
  <ul class="nav nav-pills outline-active">
    <li class="nav-item">
      <a
        [routerLink]="['/']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link"
      >
        Global feed
      </a>
    </li>

    <li
      *ngIf="isLoggedIn$ | async"
      class="nav-item"
    >
      <a
        [routerLink]="['/feed']"
        routerLinkActive="active"
        class="nav-link"
      >
        Your feed
      </a>
    </li>

    <li
      *ngIf="tagNameProps"
      class="nav-item"
    >
      <a
        [routerLink]="['/tags', tagNameProps]"
        routerLinkActive="active"
        class="nav-link"
      >
        <i class="ion-pound"></i>
        {{ tagNameProps }}
      </a>
    </li>
  </ul>
</div>
