.username {
  margin-top: 1.25rem !important;
}

.bio {
  max-width: 90% !important;
  margin-bottom: 1.25rem !important;
}

.action-controls {
  display: flex;
  justify-content: flex-end;
}

.edit-btn {
  float: none !important;
}
